.header {
  /* position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000; */
  display: flex;
  justify-content: space-between;
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  padding: 2rem 11rem 1rem;
}
.logo {
  display: flex;
  cursor: pointer;
}
.logo img {
  width: 1.5rem;
  height: 1.5rem;
}
.logo h2 {
  margin: 0 0 0 7px;
  font-size: 24px;
  letter-spacing: 1.4px;
}
.listContainer {
  display: flex;
}
.listContainer a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 0 1.2rem 0 0;
  font-weight: 600;
  letter-spacing: 1px;
}
.icon {
  display: flex;
}
.icon img {
  position: relative;
  margin: 0 0 0 2rem;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.78;
}
#search {
  opacity: 1;
}
