.container {
  display: flex;
  padding: 1rem 2rem;
  font-family: "Roboto";
  margin-top: 0;
}
.firstContainer {
  width: 20%;
  padding: 0 4rem 0 1rem;
}
.firstContainer h3 {
  font-size: 19px;
  letter-spacing: 0.6px;
  margin-bottom: 15px;
  font-weight: 500;
  opacity: 0.9;
}
.firstContainer li {
  font-size: 15px;
  list-style-type: none;
  margin-bottom: 8px;
}
.firstContainer input {
  margin-right: 10px;
}
.firstContainer hr {
  margin: 1.2rem 0;
}

.range {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 4px;
  background-color: rgb(201, 197, 197);
}
.startrange,
.endrange {
  border-radius: 50%;
  background-color: black;
  height: 9px;
  width: 9px;
  margin: -1.9px 0 0 0;
}
.centerrange {
  width: 60%;
  height: 4px;
  background-color: black;
}
.pricerange {
  display: flex;
}
.pricerange p {
  font-size: 13px;
}
.pricerangesecond {
  margin-left: 2.5rem;
}
.sizes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.sizes li {
  padding: 0.7rem 0rem;
  border: 1px solid black;
  text-align: center;
  border-radius: 8px;
  width: 48px;
  height: 48px;
}

/* SIDE BAR END */
.secondContainer {
  /* background-color: purple; */
  width: 80%;
  margin: 0;
  padding: 0 1rem;
}
.secondContainer h2 {
  font-size: 20px;
  letter-spacing: 0.5px;
}
.listOfNew {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem 0;
  row-gap: 3rem;
  column-gap: -2rem;
}
.listOfNew a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}
.listOfNew a img {
  width: 310px;
  height: 290px;
  background-color: whitesmoke;
}
.listOfNew a h3 {
  margin: 1rem 0;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.listOfNew a p {
  opacity: 0.7;
  font-weight: 500;
  letter-spacing: 0.5px;
}
